<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/js/jquery-1.8.2.min.js"></script>
</head>
<script>
    $(function () {
        $("form").submit();
    })
</script>
<body>

<form action="" method="post">
    <input type="hidden" name="version" th:value="${OPMap.version}">
    <input type="hidden" name="txCode" th:value="${OPMap.txCode}">
    <input type="hidden" name="instCode" th:value="${OPMap.instCode}">
    <input type="hidden" name="bankCode" th:value="${OPMap.bankCode}">
    <input type="hidden" name="txDate" th:value="${OPMap.txDate}">
    <input type="hidden" name="txTime" th:value="${OPMap.txTime}">
    <input type="hidden" name="seqNo" th:value="${OPMap.seqNo}">
    <input type="hidden" name="channel" th:value="${OPMap.channel}">
    <input type="hidden" name="acctUse" th:value="${OPMap.acctUse}">
    <input type="hidden" name="idType" th:value="${OPMap.idType}">
    <input type="hidden" name="idCardNo" th:value="${OPMap.idCardNo}">
    <input type="hidden" name="name" th:value="${OPMap.name}">
    <input type="hidden" name="mobile" th:value="${OPMap.mobile}">
    <input type="hidden" name="email" th:value="${OPMap.email}">
    <input type="hidden" name="retUrl" th:value="${OPMap.retUrl}">
    <input type="hidden" name="notifyUrl" th:value="${OPMap.notifyUrl}">
    <input type="hidden" name="userIP" th:value="${userIP}">
    <input type="hidden" name="acqRes" th:value="${OPMap.acqRes}">
</form>
</body>
</html>